@model IEnumerable<Product>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
            <partial name="_slider">
          @await  Component.InvokeAsync("ProductList")
</div>


