
@{
    ViewData["Title"] = "AccessDenied";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <div class="alert alert-info col-sm-5">

        <h4 class="alert alert-dismissible">
        <i class="fas fa-exclamation-triangle"></i>
        Uyarı
        </h4>
        <span class="text-dark">
            Bu sayfaya erişim hakkınız yoktur
        </span>

    </div>

