@model ResetPasswordModel
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<partial name="_breadCrumb">
    <h2 class="text-left text-muted mb-2">Şifre Yenileme</h2>
    <div class="row">
        <div class="col-sm-6 offset-1">
            <form asp-action="Login" method="post">
                <input type="hidden" name="Token" value="@Model.Token" />
               

                <div asp-validation-summary="All"
                     class="text-muted text-danger"></div>

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label"
                           asp-for="Email"></label>
                    <input class="form-control col-sm-6"
                           asp-for="Email"
                           placeholder="Enter Email" />
                </div>

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label"
                           asp-for="Password"></label>
                    <input class="form-control col-sm-6"
                           asp-for="Password"
                           placeholder="Enter re-password" />
                </div>

                @*<div class="form-group row">
                    <label class="col-sm-2 col-form-label"
                           asp-for="RePassword"></label>
                    <input class="form-control col-sm-6"
                           asp-for="RePassword"
                           placeholder="Enter re-password" />
                </div>*@


                <div class="form-group row">
                    <div class="col-sm-6 ml-auto">
                        <input type="submit" value="Kaydet"
                               class="btn btn-sm btn-info" />
                    </div>
                </div>
            </form>
        </div>
    </div>

   

    @section jqueryValidations{
        <script src="/modules/jquery-validation/dist/jquery.validate.min.js"></script>
        <script src="/modules/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js"></script>

    }







